<body>
    <div class="profile-container">
        <div class="profile-pic">
            <img src="fundoPerfil.png" alt="Foto Perfil" id="profile-img">
        </div>
        <h2 class="user-name">Random123</h2>
    </div>

    <div class="form-container">
        <form>
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" id="name" placeholder="xxxxxxxxxxxxxxxxxxxxxx">
            </div>
            <div class="form-group">
                <label for="phone">Telefone:</label>
                <input type="text" id="phone" placeholder="(xx) xxxxx-xxxx">
            </div>
            <div class="form-group">
                <label for="birthdate">Data de Nascimento:</label>
                <input type="text" id="birthdate" placeholder="xx/xx/xxxx">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="xxxxxxxx@gmail.com">
            </div>
            <div class="form-group">
                <label for="gender">Gênero:</label>
                <select id="gender">
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="outros">Outros</option>
                </select>
            </div>
            <button  (click)="minhaFuncao()"  class="update-btn">
                Atualizar dados <span>&#10004;</span>
            </button>
        </form>
    </div>

</body>
