<div class="body">

    <header>
        <nav>
            <ul>
                <li><a href="/lista">Receitas</a></li>
                <li><a href="/artigos">Artigos</a></li>
                <li><a href="contatos">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="recipe-header">
            <h1>Massa com Molho de Vodca</h1>
            <button class="save">salvar</button>
        </section>
        <div class="image-container">
            <img src="/blog-saudavel/src/app/receitas/macarrao.png" alt="Massa com Molho de Vodca">
        </div>
        <section class="ingredients">
            <h2>INGREDIENTES</h2>
            <ul>
                <li>pimenta calabresa</li>
                <li>extrato de tomate</li>
                <li>vodca</li>
                <li>creme de leite fresco</li>
                <li>azeite de oliva</li>
                <li>alho prensado</li>
                <li>cebola</li>
                <li>Sal a gosto</li>
                <li>pimenta-do-reino moída grosseiramente a gosto</li>
                <li>Manjericão a gosto</li>
                <li>Queijo parmesão pra ralar</li>
                <li>macarrão</li>
            </ul>
        </section>
        <section class="preparation">
            <h2>MODO DE PREPARO</h2>
            <ol>
                <li>Em uma panela grande, aqueça um fio generoso de azeite de oliva em fogo médio.</li>
                <li>Refogue o alho e cebola. Adicione o alho prensado e refogue até ficar levemente dourado.</li>
                <li>Acrescente a pimenta vermelha (dedo-de-moça ou calabresa) e refogue por mais alguns segundos para liberar os sabores.</li>
                <li>Adicione o extrato de tomate à panela e misture bem com os temperos.</li>
                <li>Cozinhe por alguns minutos, mexendo de vez em quando, até o extrato começar a escurecer e liberar um aroma mais intenso.</li>
                <li>Despeje a vodca na panela, mexa bem, e deixe cozinhar por alguns minutos para que o álcool evapore, deixando apenas o sabor. O molho vai ficar um pouco mais encorpado nesse processo.</li>
                <li>Reduza o fogo e adicione o creme de leite fresco, misturando até que o molho fique homogêneo e cremoso. Cozinhe por mais alguns minutos, ajustando a textura conforme necessário.</li>
                <li>Tempere com sal e pimenta-do-reino moída grosseiramente a gosto.</li>
                <li>Cozinhe a massa até que fique al dente, escorra e misture imediatamente ao molho de vodca.</li>
                <li>Sirva a massa quente, com uma pitada extra de pimenta e, se desejar, finalize com queijo parmesão ralado e folhas de manjericão por cima.</li>
            </ol>
        </section>
        <section class="description">
            <h2>DESCRIÇÃO DA RECEITA</h2>
            <p>
                Este delicioso prato de massa com molho de vodca é perfeito para um jantar especial ou para surpreender sua família e amigos. 
                A combinação de sabores do tomate, pimenta e vodca resulta em um molho cremoso e equilibrado. Finalize com queijo parmesão e manjericão para um toque irresistível!
            </p>
        </section>
    </main>
</div>
