<body>
    <header>
        <nav>
            <div class="menu-container">
                <div class="center-links">
                    <a href="/receitas">Receitas</a>
                    <a href="/artigos">Artigos</a>
                    <a href="/contato">Contato</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="form-container">
            <h1>Quer entrar em contato com nós?  <br>Você veio ao lugar certo!</h1>
            <form action="#">
                <input type="text" name="nome" placeholder="Nome:">
                <input type="email" name="email" placeholder="Digite seu email:">
                <select name="assunto">
                    <option value="" disabled selected>Assunto</option>
                    <option value="duvida">Dúvida</option>
                    <option value="sugestao">Sugestão</option>
                    <option value="receitas">Receitas</option>
                    <option value="outros">Outros</option>
                </select>
                <textarea name="mensagem" placeholder="Sua mensagem:"></textarea>
                <button type="submit">ENVIAR</button>
            </form>
        </section>
    </main>
    <footer>
        <p>© Copyright 2000-2024 Comunicação e Participações S.A.</p>
    </footer>
</body>

