<div class="body">
    <div class="centralizado">
        <h1 class="titulo">Coma bem,<br>viva melhor</h1>
    </div>

    <div class="botao-container">
        <a href="/login" class="botao">
            faça seu login <span class="seta">→</span>
        </a>
    </div>

    <div class="menu-container">
        <div class="center-links">
            <a href="/receita">Receitas</a>
            <a href="/artigos">Artigos</a>
            <a href="/contato">Contato</a>
        </div>

        <!-- Ícone do menu que aciona a abertura do menu lateral -->
        <div class="menu-icon" id="menuIcon" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div> 

    <div class="container">
        <!-- Menu lateral (que ficará oculto até ser acionado) -->
        <div class="menu" id="menu">
            <div class="logo" (click)="toggleMenu()">LOGO</div>
            <ul>
                <a href="/perfil"><li>Minha conta</li></a>
                <li><span>Meus favoritos</span></li>
                <li><span>Salvos</span></li>
                <li><span>Notificações</span></li>
            </ul>
            <button class="logout">
                Sair <span>←</span>
            </button>
        </div>

        <!-- Overlay para cobrir o restante da tela quando o menu estiver aberto -->
        <div class="overlay" id="overlay"></div>
    </div>

    <a href="/perfil">Perfil</a>
</div>
